<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037669357610-f7j63ef5i5pj3h9ko5b59c68p0v6a1k0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037669357610-f7j63ef5i5pj3h9ko5b59c68p0v6a1k0</string>
	<key>API_KEY</key>
	<string>AIzaSyBPvmVU2U41spd8nGrl4C5jPISObTlxanc</string>
	<key>GCM_SENDER_ID</key>
	<string>1037669357610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>chatapp-254-abd44</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-254-abd44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037669357610:ios:804ac92abd1ddf0fe88b53</string>
</dict>
</plist>